<h2>Наши контакты</h2>

<p>Обратная связь</p>

<form action="/contacts" method="POST">

  <div class="form-group">
    <label>Ваш E-mail ( и мы Вам обязательно ответим):</label>
    <input type="text" name='contact[mail]' class="form-control" placeholder="Введите Ваш e-mail" value="">
  </div>

  <div class="form-group">
    <label>Ваше сообщение</label>
    <textarea type="text" name='contact[message]' class="form-control" rows="5" placeholder="Текст сообщения" value=""></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Отправить!</button>

</form>